* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("imagem/readingBook.png");
}

.conteudo {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(140px, auto) repeat(5, 90px);
}

.conteudo > button {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #111;
    border: none;
    background-color: #111;
    color: #eee;
}

.conteudo > .operador {
    background: #DAA520;
}

.operador:hover {
    background-color: #b3881b;
}

.especial {
    grid-column: span 2;
}

.conteudo > .resultado {
    grid-column: 1 / -1;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 40px;
    border-bottom: 1px solid #D3D3D3;
    color: #EEE;
}